<div class="nested-fields new-post-field">
  <div class="user-select-delete-area">
    <div class="user-select">
      <div class="group_users_insert_point">
      </div> 
      <div id="user-select">
        <div class="user-select-field">
          <p>撮影メンバー</p>
          <div class="user-select-field-pulldown-area">
            <%= f.collection_select(:user_id, @group_users, :id, :nickname, {include_blank: "--メンバー選択--"}, {class: 'user-select-field-pulldown'}) %>
          </div>
        </div>
      </div>
    </div>
    <div class="member-post-delete-btn-field">
      <%= link_to_remove_association "削除", f, class: 'member-post-delete-btn' %>
    </div>
  </div>
  <div class="image-field-area">
    <p>写真 <span>※5枚まで選択可(1枚あたり1MBまで)</span></p>
    <div class="image-field new-post-field">
      <div class="click-upload">
        <div class="image-preview"></div>
        <p><span>1枚目</span> <%= f.file_field :images, multiple: true, onchange: "loadImage(this);", data: { index: 0 }, accept: ".png, .jpg, .jpeg", class: 'photo-file-field' %></p>
      </div>
      <div class="click-upload">
        <div class="image-preview"></div>
        <p><span>2枚目</span> <%= f.file_field :images, multiple: true, onchange: "loadImage(this);", data: { index: 1 }, accept: ".png, .jpg, .jpeg", class: 'photo-file-field' %></p>
      </div>
      <div class="click-upload">
        <div class="image-preview"></div>
        <p><span>3枚目</span> <%= f.file_field :images, multiple: true, onchange: "loadImage(this);", data: { index: 2 }, accept: ".png, .jpg, .jpeg", class: 'photo-file-field' %></p>
      </div>
      <div class="click-upload">
        <div class="image-preview"></div>
        <p><span>4枚目</span> <%= f.file_field :images, multiple: true, onchange: "loadImage(this);", data: { index: 3 }, accept: ".png, .jpg, .jpeg", class: 'photo-file-field' %></p>
      </div>
      <div class="click-upload">
        <div class="image-preview"></div>
        <p><span>5枚目</span> <%= f.file_field :images, multiple: true, onchange: "loadImage(this);", data: { index: 4 }, accept: ".png, .jpg, .jpeg", class: 'photo-file-field' %></p>
      </div>
    </div>
  </div>
  <div class="message-field">
    <p>タイトル</p>
    <div class="member-post-title-field-area">
      <%= f.text_field :title, class: 'member-post-title-field new-post-field' %>
    </div>
    <p>コメント</p>
    <div class="member-post-text-field-area">
      <%= f.text_area :text, class: 'member-post-text-field new-post-field' %>
    </div>
  </div>
</div>

<script>
function loadImage(obj){
  const sizeLimit = 1024 * 1024 * 1; // 制限サイズ
  let fileReader = new FileReader();
  fileReader.onload = (function () {
    if (obj.files[0].size > sizeLimit) {
      alert('ファイルサイズは1MB以下にしてください');
      obj.value = '';
      return;
    };
    if (obj.files.length > 1) {
      alert('ファイルは1枚にしてください');
      obj.value = '';
      return;
    };
    obj.closest('.click-upload').firstElementChild.innerHTML = '<img src="' + fileReader.result + '">';
  });
  fileReader.readAsDataURL(obj.files[0]);
};
</script>