<%= render "shared/header" %>

<div class="group-post-content-field">
  <div class="group_post_title">
    <p class="group-post-g-title"><%= @group_post.group_title %></p>
    <p class="group-post-g-text"><%= @group_post.group_text %></p>
  </div>
  <div class="member-field">
    <% @group_post.posts.each do |post| %>
      <div class="member-post" style="background-color: #333333; width: 700px; max-width: 100%; margin: 0 auto; padding: 20px;" >
        <div class="member-title">
          <p style="text-align: center; color: white; padding-top: 20px; font-size: 20px;"><%= post.title %></p>
        </div>
        <div class="member-photos" style="display: flex; flex-direction: column; align-items: center;">
          <% post.images.each do |image| %>
            <div class="member-photo" style="margin-top: 40px;">
              <%= image_tag image.variant(combine_options:{gravity: :center, resize:"550x550"}).processed %>
            </div>
          <% end %>
        </div>
        <div class="post-user-info" style="display: flex; flex-direction: column; align-items: center;">
          <p style="font-size: 20px; padding: 40px 0; color: white;"><%= post.text %></p>
          <div class="user-info-box">
            <div><p>撮影者</p></div>
            <div class="user-image-field">
              <%= image_tag post.user.avatar.variant(combine_options:{gravity: :center, resize:"40x40^",crop:"40x40+0+0"}).processed %>
              <div class="user-name-prefecture">
                <p class="user-g-p20"><%= post.user.nickname %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="group-post-edit-delete-btn">
    <% if user_signed_in? && @group_post.group.users.ids.include?(current_user.id) %>
      <%= link_to "編集", edit_group_post_path(@group_post.id), class: 'group-post-edit-btn' %>
      <%= link_to "削除", group_post_path(@group_post.id), class: 'group-post-delete-btn', method: :delete %>
    <% end %>
  </div>
</div>

<%= render 'comments/comments', commentable: @group_post %>

<%= render "shared/footer" %>