<h1><%= @group_post.group_title %></h1>
<h3><%= @group_post.group_text %></h3>

<% if user_signed_in? && @group_post.group.users.ids.include?(current_user.id) %>
  <%= link_to "編集", edit_group_post_path(@group_post.id) %>
  <%= link_to "削除", group_post_path(@group_post.id), method: :delete %>
<% end %>

<% @group_post.posts.each do |post| %>
  <h4>メンバー</h4>
  <p><%= post.user.nickname %></p>
  <h4>タイトル</h4>
  <p><%= post.title %></p>
  <p><%= post.text %></p>
  <% post.images.each do |image| %>
    <div><%= image_tag image %></div>
  <% end %>
<% end %>

<div class="comment-field">
  <div class="comment-views">
    <% @group_post.comments.each do |comment| %>
      <%= comment.text %><%= comment.created_at %><%= comment.user.nickname %>
      <% if user_signed_in? && (current_user.id == comment.user_id || @group_post_users.ids.include?(current_user.id)) %>
        <%= link_to '削除', group_post_comment_path(comment.id), method: :delete %>
      <% end %>
    <% end %>
  </div>
  <div class="comment-form">
    <%= render 'comments/comments', commentable: @group_post, comment: @comment if user_signed_in? %>
  </div>
</div>

<%= link_to 'Homeへ', root_path %>