<h1><%= @group_post.group_title %></h1>
<h3><%= @group_post.group_text %></h3>
<%= link_to "#{@group_post.group_title}の編集", edit_group_post_path(@group_post.id) if user_signed_in? && @group_post.group.users.ids.include?(current_user.id) %>
<% @group_post.posts.each do |post| %>
<h4>メンバー</h4>
<p><%= post.user.nickname %></p>
<h4>タイトル</h4>
<p><%= post.title %></p>
<p><%= post.text %></p>
<% post.images.each do |image| %>
  <div><%= image_tag image %></div>
<% end %>

<% end %>