<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname, 'ニックネーム（必須）' %><br />
    <%= f.email_field :nickname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, 'Eメール（必須）' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC or 携帯" %>
  </div>

  <div class="field">
    <%= f.label :password, 'パスワード（必須）' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上の半角英数字" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '確認用パスワード（必須）' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "上記と同じパスワードを入力" %>
  </div>

  <div class="field">
    <%= f.label :image, 'プロフィール画像' %><br/>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :last_name, 'お名前（姓）' %><br />
    <%= f.email_field :last_name, autofocus: true, placeholder: "姓" %>
  </div>

  <div class="field">
    <%= f.label :first_name, 'お名前（名）' %><br />
    <%= f.email_field :first_name, autofocus: true, placeholder: "名" %>
  </div>

  <div class="field">
    <%= f.label :main_camera, '主な機種' %><br />
    <%= f.email_field :main_camera, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :prefecture_id, '地域' %><br />
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select"}) %>
  </div>

  <div class="field">
    <%= f.label :camera_experience_id, 'カメラ歴' %><br />
    <%= f.collection_select(:camera_experience_id, CameraExperience.all, :id, :name, {}, {class:"camera_experience-select"}) %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
