<div class="main-form">
  <div class="signup-form">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="input-field">
      <%= f.text_field :nickname, autofocus: true, placeholder: 'ニックネーム', class: 'field' %>
    </div>
    <div class="input-field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'field' %>
    </div>
    <div class="input-field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード 6文字以上の半角英数字', class: 'field' %>
    </div>
    <div class="input-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード 確認用", class: 'field' %>
    </div>
    
    <%= render 'form', f:f %>
    
    <div class="actions input-field">
      <%= f.submit "登録", class: 'user-submit' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  <%= link_to 'Topページはこちら', root_path, class: 'top-link' %>
  </div>
</div>

<script>
const sizeLimit = 1024 * 1024 * 1; // 制限サイズ
const fileInput = document.getElementById('profile-image'); // input要素

const handleFileSelect = () => {
  const files = fileInput.files;
  for (let i = 0; i < files.length; i++) {
    if (files[i].size > sizeLimit) {
      alert('ファイルサイズは1MB以下にしてください'); // エラーメッセージを表示
      fileInput.value = ''; // inputの中身をリセット
      return; // この時点で処理を終了する
    };
  };
};

fileInput.addEventListener('change', handleFileSelect);
</script>