<div class="main-form">
  <div class="group-submit-form">
  <h2>Edit Group</h2>

  <%=form_with model: @group, local: true do |f|%>
  <%= render 'layouts/error_messages', model: f.object %>

    <div class="input-field">
      <%= f.label :name, 'グループ名' %><br />
      <%= f.text_field :name, autofocus: true, class: 'field' %>
    </div>
    <div class="input-field">
      <%= f.label :introduction, 'グループ紹介' %><br />
      <%= f.text_area :introduction, autofocus: true, class: 'text-area-field' %>
    </div>

    <div class="input-field">
      <h3>メンバー</h3>
      <% @member.where.not(id: current_user.id).each do |user| %>
        <div class='member-name'>
          <input name="group[user_ids][]" type="hidden" value=<%= user.id %> text=<%= user.nickname %>><%= user.nickname %>
          <span style="border: 1px solid #54595F;" id="mem" class="member-delete-btn">削除</span>
        </div>
      <% end %>

      <h3>メンバー追加</h3>
      <div class="input-field">
        <select name="group[user_ids][]" id="select-user"  class="select-user">
          <option value="">グループメンバーを選択してください</option>
            <% User.where.not(id: @member.ids).each do |user| %>
              <option value=<%= user.id %>><%= user.nickname %></option>
            <% end %>
        </select>
      </div>

      <div id="add-field" class="input-field"></div>

      <input name="group[user_ids][]" type="hidden" value=<%= current_user.id %>>

      <button type="button" id="add-btn" class='user-add-btn field input-field'><i class="fa-solid fa-user-plus"></i></button>
    </div>
    <div>
      <%= f.submit '登録', class: 'group-submit' %>
    </div>
  <% end %>
  <%= link_to 'Topページはこちら', root_path, class: 'top-link' %>
  </div>
</div>

<script>
// メンバー削除
var deles = document.querySelectorAll("#mem");
for (var i=0; i < deles.length; i++) {
  deles[i].addEventListener('click', (e) => {
    var inputChild = e.target.parentNode.firstElementChild;
    var option = document.createElement("option");
    option.text = inputChild.getAttribute('text');
    option.value = inputChild.value;

    var selectUser = document.querySelectorAll('.select-user');
    for (var r=0; r < selectUser.length; r++) {
      const add = option.cloneNode(true);
      selectUser[r].appendChild(add);
    };
    e.target.parentNode.remove();
  })
};

// ユーザー追加
document.addEventListener('DOMContentLoaded', function(){
  const addBtn = document.getElementById('add-btn');
  if (!addBtn) return null;

  const selectUser = document.getElementById('select-user');
  const addField = document.getElementById('add-field');
  addBtn.addEventListener('click', function(){
    addField.appendChild(selectUser.parentNode.cloneNode(true));
  });
});
</script>