<div class="main-form">
  <div class="group-submit-form">
  <h2>New Group</h2>

  <%=form_with model: @group, local: true do |f|%>
  <%= render 'layouts/error_messages', model: f.object %>

    <div class="input-field">
      <%= f.label :name, 'グループ名' %><br />
      <%= f.text_field :name, autofocus: true, class: 'field input-text-field' %>
    </div>
    <div class="input-field">
      <%= f.label :introduction, 'グループ紹介' %><br />
      <%= f.text_area :introduction, autofocus: true, class: 'text-area-field input-text-field' %>
    </div>

    <div class="input-field">
      <div class="input-field">
        <select name="group[user_ids][]" id="select-user" class="select-user">
          <option value="">グループに参加するユーザー選択</option>
            <% User.where.not(id: current_user.id).each do |user| %>
              <option value=<%= user.id %>><%= user.nickname %></option>
            <% end %>
        </select>
      </div>

      <div id="add-field"></div>

      <input name="group[user_ids][]" type="hidden" value=<%= current_user.id %>>

      <button type="button" id="add-btn" class='user-add-btn field input-field'><i class="fa-solid fa-user-plus"></i></button>
    </div>
    <div>
      <%= f.submit "登録", class: 'group-submit' %>
    </div>
  <% end %>
  <div class="link-btn-field">
    <%= link_to "戻る", :back, class: 'back-link' %>
  </div>
  </div>
</div>

<script>
// ユーザー追加
document.addEventListener('DOMContentLoaded', function(){
  const addBtn = document.getElementById('add-btn');
  if (!addBtn) return null;

  const selectUser = document.getElementById('select-user');
  const addField = document.getElementById('add-field');
  addBtn.addEventListener('click', function(){
    addField.appendChild(selectUser.parentNode.cloneNode(true));
  });
});
</script>