<%= render "shared/header" %>

<div class="group-show-background">
  <div class="group-show-box">
    <div class="group-name-field">
      <% if user_signed_in? && @group.owner_id == current_user.id %><p class="group-name-block"></p><% end %>
      <% if user_signed_in? && @member.include?(current_user) %><p class="group-name-block"></p><% end %>
      <h2 class="group-name"><%= @group.name %></h2>
      <%= link_to "投稿", new_group_post_path(@group), class: 'group-post-btn' if user_signed_in? && @member.include?(current_user) %>
      <%= link_to "編集", edit_group_path(@group), class: 'group-edit-btn' if user_signed_in? && @group.owner_id == current_user.id %>
    </div>
    <p class="intro-p16"><%= @group.introduction %></p>
    <div class="group-info-field">
      <div class="group-member-field">
        <div class="group-member-title">
          <h3>member</h3>
        </div>
        <ul class="member-lists">
          <% @member.each do |member| %>
            <li>
              <div class="member-list">
                <div class="member-image-field">
                  <%= image_tag member.avatar.variant(combine_options:{gravity: :center, resize:"60x60^",crop:"60x60+0+0"}).processed %>
                </div>
                <div class="member-info-field">
                  <p class="member-p16"><%= member.nickname %> <span><%= "owner" if member.id == @owner.id %></span></p>
                  <p class="member-p10"><%= member.prefecture.name %></p>
                  <p class="member-p10">カメラ歴: <%= member.camera_experience.name %></p>
                  <p class="member-p10">メイン機種: <%= member.main_camera %></p>
                <div>
              <div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="group-member-post-field">
        <div class="group-member-post-title">
          <h3>posts</h3>
        </div>
        <ul class="member-post-lists">
          <% if @group_posts.length >= 1 %>
            <% @group_posts.each do |post| %>
              <li class="post-list">
                <div class="post-content">
                  <p style="font-size: 18px;"><%= post.group_title %></p>
                  <%= link_to group_post_path(post.id) do %>
                    <%= image_tag post.posts[0].images[0].variant(combine_options:{gravity: :center, resize:"270x200^", crop:"270x200+0+0"}).processed, class: 'index-img' %>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>