<header class="site-header" style="background-image: url(<%= rails_blob_url(current_user.avatar) if user_signed_in? && current_user.avatar.present? %>);">
  <div class="site-header-box">
    <div class="site-header-box-left">
      <div class="site-header-box-left-upper">
        <%= link_to root_path do %><h1>Photo Room</h1><% end %>
      </div>
      <div class="site-header-box-left-lower">
        <% if user_signed_in? %>
          <p class="as">as <%= link_to edit_user_registration_path, class: 'user-edit-link' do %><%= current_user.nickname %><% end %></p>
        <% else %>
          <p>as visitor</p>
        <% end %>
      </div>
    </div>
    <div class="site-header-box-right">
      <% if user_signed_in? %>
        <div class="site-header-box-right-group-select">
          <% if @user_groups.exists? %>
            <select onChange="location.href=value;" class="select-group">
              <% if @group %>
                <option value="<%=@group.id%>"><%=@group.name%> グループ</option>
                <% @user_groups.where.not(id: @group.id).each do |group| %>
                  <option value=<%= group_path(group.id) %>> <%= group.name %> グループ</option>
                <% end %>
              <% else %>
                <option value="">Select Group</option>
                <% @user_groups.each do |group| %>
                  <option value=<%= group_path(group.id) %>> <%= group.name %> グループ</option>
                <% end %>
              <% end %>
            </select>
          <% end %>
        </div>
        <div class="site-header-box-right-logging-btn">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'logging-btn' %>
        </div>
      <% else %>
        <div class="site-header-box-right-logging-btn">
          <%= link_to "Login", new_user_session_path, class: 'logging-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</header>