<header class="site-header" style="background-image: url(<%= asset_path "#{current_user.image.url}" if user_signed_in?%>);">
  <div class="site-header-box">
    <div class="site-header-box-left">
      <h1>Photo Room</h1>
      <% if user_signed_in? %>
        <p><%= link_to current_user.nickname, edit_user_registration_path, class: "site-header-link" %>
          のページ
        </p>
      <% else %>
        <p>visitorのページ</p>
      <% end %>
    </div>
    <div class="site-header-right">
      <ul>
        <li><%= link_to "Home", root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "New Group", new_group_path %></li>
        <% if @user_groups.exists? %>
          <li>
            <select onChange="location.href=value;", class="select-group">
              <% if @group %>
                <option value="<%=@group.id%>"><%=@group.name%>のページ</option>
                <% @user_groups.where.not(id: @group.id).each do |group| %>
                    <option value=<%= group_path(group.id) %>><%= group.name %>のページへ</option>
                <% end %>
              <% else %>
                <option value="">Select Group</option>
                <% @user_groups.each do |group| %>
                  <option value=<%= group_path(group.id) %>><%= group.name %>のページへ</option>
                <% end %>
              <% end %>
            </select>
          </li>
        <% end %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to 'Signup', new_user_registration_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</header>