<% if user_signed_in? %>
  <div>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
  <div>
    <%= image_tag current_user.image.variant(resize:'200x200'), style: 'width: 200px; height: 200px, border-radius: 100px; object-fit: cover;' %>
    <%= current_user.nickname %>
  </div>
<% else %>
  <div>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "新規登録", new_user_registration_path %>
  </div>
<% end %>
