<%= render "shared/header" %>

<main class="main-outline">
  <div class="main-wrapper">
    <div class="main-content">
      <div class="main-inner-frame">
        <div class="position-fixed-btn-if-user-signed-in">
          <% if user_signed_in? %>
            <%= link_to new_post_path, class: 'position-fixed-btn' do %>
              <p>New Post</p>
            <% end %>
            <%= link_to new_group_path, class: 'position-fixed-btn' do %>
              <p>New Group</p>
            <% end %>
          <% end %>
        </div>
        <p>組写真の共有アプリケーションです。<br>個人での投稿 または グループでテーマを設定しての投稿が可能です。</p>
        <h3>Photos</h3>
        <ul class="post-lists">
          <% if @instances.length >= 1 %>
            <% @instances.each do |instance| %>
              <li class="post-list">
                <div class="post-content">
                  <% if instance.class == Post && instance.images.length >= 1 %>
                    <p><%= instance.user.nickname %></p>
                    <p><%= instance.title %></p>
                    <%= link_to post_path(instance.id) do %>
                      <%= image_tag instance.images[0].variant(combine_options:{gravity: :center, resize:"270x200^", crop:"270x200+0+0"}).processed, class: 'index-img' %>
                    <% end %>
                  <% elsif instance.class == GroupPost && instance.posts.length >= 1 %>
                    <p><i class="fa-solid fa-user-group"></i> <%= link_to instance.group.name, group_path(instance.group_id) %></p>
                    <p><%= instance.group_title %></p>
                    <%= link_to group_post_path(instance.id) do %>
                      <%= image_tag instance.posts[0].images[0].variant(combine_options:{gravity: :center, resize:"270x200^", crop:"270x200+0+0"}).processed, class: 'index-img' %>
                    <% end %>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>