<%= render "shared/header" %>

<main class="main-box" style="background-color: #F5F5F5;">
  所属外のグループ
  <% if @groups.length >= 1 %>
    <% @groups.each do |group| %>
      <% unless @user_groups.ids.include?(group.id) %>
        <%= link_to "#{group.name}", group_path(group.id), style: "margin-left: 20px;" %>
      <% end %>
    <% end %>
  <% end %>
  <div class="main-wrapper" style="display: flex; align-items: center;">
  <div class="main-content" style="width: 95%; margin: 40px auto; background-color: white;">
    <div>
      Main-content
      <% if @posts.exists? %>
        <% @posts.each do |post| %>
          <div class="post-content">
            <p>Title:<%= post.title %></p>
            <p>Name:<%= post.user.nickname %></p>
            <% post.images[0..-1].each do |image| %>
              <%= image_tag image %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</main>