<%= render "shared/header" %>

<main class="main-box" style="background-color: #F5F5F5;">
  <% if user_signed_in? && @other_groups.length >= 1 %>
    Other Group :
    <% @other_groups.each do |group| %>
      <%= link_to "#{group.name}", group_path(group.id), style: "margin-left: 20px; text-decoration: none; color: gray;" %>
    <% end %>
    <p style="font-family: sans-serif; text-align: center; padding: 10px 0;">組写真をお楽しみください。ログインすると写真の投稿やコメントが可能です。</p>
  <% end %>
  <div class="main-wrapper" style="display: flex; align-items: center;">
    <div class="main-content" style="width: 100%; margin: 40px auto; background-color: white;">
      <div class="post-content" style="background-color: #222222; min-height: 100vh;">
        <h2 style="font-size: 24px; font-family: sans-serif; text-align: center; padding: 30px 0; color: white;">PHOTOS</h2>
        <ul class="post-lists">
          <% if @instances.length >= 1 %>
            <% @instances.each do |instance| %>
              <li class="post-list">
                <div class="post-content">
                  <% if instance.class == Post %>
                    <p style="font-size: 18px; font-family: sans-serif; color: white;"><%= instance.user.nickname %></p>
                    <p style="font-size: 18px; font-family: sans-serif; color: white;"><%= instance.title %></p>
                    <%= link_to post_path(instance.id) do %>
                      <%= image_tag instance.images[0].variant(combine_options:{gravity: :center, resize:"270x200^", crop:"270x200+0+0"}).processed, class: 'index-img' %>
                    <% end %>
                  <% else %>
                    <p style="font-size: 18px; font-family: sans-serif; color: white;">Group: <%= instance.group.name %></p>
                    <p style="font-size: 18px; font-family: sans-serif; color: white;"><%= instance.group_title %></p>
                    <%= link_to group_post_path(instance.id) do %>
                      <%= image_tag instance.posts[0].images[0].variant(combine_options:{gravity: :center, resize:"270x200^", crop:"270x200+0+0"}).processed, class: 'index-img' %>
                    <% end %>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>