<%= render "shared/header" %>

<div class="post-content-field">
  <div class="post-title">
    <p><%= @post.title %></p>
  </div>
  <div class="post-photos">
    <% @post.images[0..-1].each do |image| %>
      <div class="photo">
        <%= image_tag image.variant(gravity: :center, resize:"550x550").processed %>
      </div>
    <% end %>
  </div>
  <div class="post-user-info">
    <p><%= @post.text %></p>
    <div class="user-info-box">
      <div class="user-image-field">
        <%= image_tag @post.user.avatar.variant(gravity: :center, resize:"40x40^",crop:"40x40+0+0").processed %>
        <div class="user-name-prefecture">
          <p class="user-p20"><%= @post.user.nickname %></p>
        </div>
      </div>
      <div class="user-info-field">
        <p class="user-p12"><%= @post.user.prefecture.name %></p>
        <p class="user-p12">カメラ歴:<%= @post.user.camera_experience.name %></p>
        <p class="user-p12">メイン機種:<%= @post.user.main_camera %></p>
      </div>
    </div>
    <div class="post-edit-delete-btn">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <%= link_to '編集', edit_post_path(@post.id), class: 'post-edit-btn' %>
        <%= link_to '削除', post_path(@post.id),class: 'post-delete-btn', method: :delete %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'comments/comments', commentable: @post %>

<%= render "shared/footer" %>