<%= render "shared/header" %>

<p>Title:<%= @post.title %></p>
<p><%= @post.text %></p>
<p>Name:<%= @post.user.nickname %></p>
<%= image_tag @post.user.image.url %>
<p><%= @post.user.main_camera %></p>
<p><%= @post.user.prefecture.name %></p>
<p><%= @post.user.camera_experience.name %></p>
<% @post.images[0..-1].each do |image| %>
  <%= image_tag image %>
<% end %>

<% if user_signed_in? && current_user.id == @post.user_id %>
  <%= link_to '編集', edit_post_path(@post.id) %>
  <%= link_to '削除', post_path(@post.id), method: :delete %>
<% end %>

<div class="hamburger-comment">
  <input type="checkbox" id="menu-btn-check">
  <label for="menu-btn-check" class="menu-btn"><span></span></label>

  <div class="comment-field">
    <div class="comment-form">
      <%= render 'comments/comments', commentable: @post, comment: @comment if user_signed_in?%>
    </div>
    <div class="comment-views">
      <% @post.comments.each do |comment| %>
        <% if comment.parent_id == nil %>
          <p><%= comment.user.nickname %> <%= comment.created_at %></p>
          <p><%= comment.text %><p>
          <% if user_signed_in? && (current_user.id == comment.user_id || current_user.id == @post.user_id) %>
            <p><%= link_to '削除', post_comment_path(comment.id), method: :delete %></p>
          <% end %>
          <% comment.replies.order(:created_at).each do |reply| %>
            <p> <%= comment.user.nickname %> : <%=reply.text%></p>
          <% end %>
          <div class="reply-form">
            <%= render 'comments/reply', commentable: @post, comment: @comment, comm: comment if user_signed_in? %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Homeへ', root_path %>