<%= render "shared/header" %>

<div class="post-content-field" style="background-color: #F5F5F5F5;">
  <div class="post-title" style="padding-top: 20px; color: #444444;">
    <p style="text-align: center; font-size: 24px;"><%= @post.title %></p>
  </div>
  <div class="post-photos" style="display: flex; flex-direction: column; align-items: center;">
    <% @post.images[0..-1].each do |image| %>
      <div class="photo" style="margin-top: 40px;">
        <%= image_tag image.variant(combine_options:{gravity: :center, resize:"550x550"}).processed %>
      </div>
    <% end %>
  </div>
  <div class="post-user-info" style="display: flex; flex-direction: column; align-items: center;">
    <p style="font-size: 20px; padding: 40px 0;"><%= @post.text %></p>
    <p><%= @post.user.nickname %></p>
    <%= image_tag @post.user.image.url, style: "width: 80px; height: 80px;" %>
    <p><%= @post.user.main_camera %></p>
    <p><%= @post.user.prefecture.name %></p>
    <p><%= @post.user.camera_experience.name %></p>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to '編集', edit_post_path(@post.id) %>
      <%= link_to '削除', post_path(@post.id), method: :delete %>
    <% end %>
  </div>
</div>

<div class="hamburger-comment">
  <input type="checkbox" id="menu-btn-check">
  <label for="menu-btn-check" class="menu-btn"><span></span></label>

  <div class="comment-field">
    <div class="comment-form">
      <%= render 'comments/comments', commentable: @post, comment: @comment if user_signed_in?%>
    </div>
    <div class="comment-views">
      <div id="comments">
        <% @post.comments.each do |comment| %>
          <% if comment.parent_id == nil %>
            <div class="comment">
              <p><%= comment.user.nickname %> <%= comment.created_at %></p>
              <p><%= comment.text %><p>
              <% if user_signed_in? && (current_user.id == comment.user_id || current_user.id == @post.user_id) %>
                <p><%= link_to '削除', post_comment_path(comment.id), method: :delete, class: "comment-dele" %></p>
              <% end %>
            </div>
            <div id="replies<%=comment.id%>">
              <% comment.replies.order(:created_at).each do |reply| %>
                <div class="reply">
                  <p class="reply-content"> <%= comment.user.nickname %> : <%=reply.text%></p>
                </div>
              <% end %>
            </div>
            <div class="reply-form-area">
              <div class="reply-form" style="display: none;">
                <%= render 'comments/reply', commentable: @post, comment: @comment, comm: comment if user_signed_in? %>
              </div>
              <a class="reply-btn" style="cursor: pointer;">返信</a>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>